ion-side-menus
  ion-pane(ion-side-menu-content='')
    ion-nav-bar.top-nav
      ion-nav-buttons(side="left")
        button.button.button-icon.icon.ion-navicon-round(menu-toggle="left") 
          
      ion-nav-buttons(side="right")
        button.button.button-icon.icon.ion-music-note(menu-toggle="right")

      ion-nav-back-button.button-clear
        i.icon.ion-chevron-left
        |  Back

    ion-nav-view(name='main-content', animation='slide-left-right')
  ion-side-menu(side='right',enable-menu-with-back-views='true')
    ion-header-bar.bar-stable("center")
      h1.title Prototype 17         

    ion-content.has-header
      .list
        .item(nav-clear='', menu-close='', ui-sref='app.patches')
          | Patches
              
