html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(view-title='About Ionic')
      ion-content(has-header='true', has-tabs='true', padding='true').text-center
        h2 How to use 17th dimensional prototype synthesizer:
        h3 use command to cycle between modes
        p modes under development (in progress*):
        ul 
          li 
            h3 keys *
            p  press the letters to control oscillators
          li 
            h3 sampler * 
            p hold shift and hold down another key to begin recording, release the key (while still holding shift) to end the sample
            p to play back press without shift
            p there is no warning for over writing samples 
          li 
            b sequencer
          li
            b patch library
        br
        button.button.button-assertive(onclick='window.location="/#/app/synth";window.location.reload()') Begin! 
