html
  body
    //
        This template loads for the 'tab.adopt' state (app.js)
    ion-view(view-title='Synth')
      ion-content(has-header='true', has-tabs='true')
        .synth
          .row
            .col .
          .row
            .col .
          .row
            .col
            .col-50
              canvas#hud.col(width='500px',height='108px')
            .col
              .icon.button.button-icon.ion-mic-wand
              select(ng-model='filterType',ng-change='setFilterType(filterType)')
                option(ng-repeat='filterMode in filter.getFilterModes()',ng-value='filterMode') {{filterMode}}
            .col
              input(type="range",min='0',max='1',step ="0.01",ng-change="updateGain(outputVolume,'output')",ng-model='outputVolume')
            .col
              input(type="range",min='0',max='1',step ="0.01",ng-change="updateGain(inputVolume,'input')",ng-model='inputVolume')
            .col(ng-show='filter.supports("Q")')
              input(type="range",min='0',max='2000',ng-change="filter.setQ(q)",ng-model='q')
            .col(ng-show='filter.supports("gain")')
              input(type="range",min='0',max='200',ng-change="filter.setGain(g)",ng-model='g')
            .col(ng-show='filter.supports("detune")')
              input(type="range",min='0',max='2000',ng-change="filter.setDetune(d)",ng-model='d')
            .col(ng-show='filter.supports("frequency")')
              input(type="range",min='0',max='1000',ng-change="filter.setFrequency(f)",ng-model='f')
            .col
              .icon.button.button-icon.ion-planet
            .col

          .row
            .col {{getState()}}
          .row.wave-form
            canvas#inputWaveForm.col(width='600',height='200')
            canvas#outputWaveForm.col(width='600',height='200')
          .row
          .row
            .col.icon.button.button-icon.ion-more
            .col.icon.button.button-icon.ion-speedometer
            .col.icon.button.button-icon.ion-chevron-up
            .col.icon.button.button-icon.ion-stats-bars
            .col.icon.button.button-icon.ion-scissors
          .row
            .col
            .col
            .col.icon.button.button-icon.ion-chevron-left
            .col.icon.button.button-icon.ion-record(ng-class='recording()?"red":""',ng-click='toggleRecording()')
            .col.icon.button.button-icon.ion-chevron-right
            .col
            .col
          .row
            .col.icon.button.button-icon.ion-cube
            .col.icon.button.button-icon.ion-knife
            .col.icon.button.button-icon.ion-chevron-down
            .col.icon.button.button-icon.ion-fork
            .col.icon.button.button-icon.ion-grid          
          .row
            .col .
          .row
            .col
              input(ng-model='rootFrequency',ng-change='setRootFrequency(rootFrequency)',type='number')
            .col.icon.button.button-icon.ion-mic-c(ng-click='toggleRecording()',ng-class='sampling()?"blue":""')
            .col.icon.button.button-icon.ion-refresh(ng-click='toggleInstantLoop()',ng-class='instantLoopEnabled()?"blue":""')
