html
  body
    //
        This template loads for the 'tab.adopt' state (app.js)
    ion-view(view-title='Synth')
      ion-content(has-header='true', has-tabs='true')
        .synth
          .row
            .col .
          .row
            .col .
          .row
            .col
            .col-50
              .row(ng-repeat='track in tracks')
                .col {{track.getSampleTime()}} 
                  //- input(type="range")
                  //- .col
                  //-   .ion-fireball.icon.button.button-icon
                  //- .col
                  //-   input(type="range")
                  //- .col
                  //-   .ion-leaf.icon.button.button-icon
                  //- .col
                  //-   input(type="range") 
                  //- .col
                  //-   .icon.button.button-icon.ion-waterdrop
                  //- .col
                  //-   input(type="range")
                   .col
                   .icon.button.button-icon.ion-wand
            .col
              .icon.button.button-icon.ion-mic-wand
            .col
              input(type="range",min='0',max='1',ng-change="updateGain(inputVolume,'input')",ng-model='inputVolume')
            .col
              input(type="range",ng-change="updateGain(outputVolume,'output')",ng-model='outputVolume')
            .col
              input(type="range",ng-change="updateCutoff(ct)",ng-model='ct')
            .col
              input(type="range") 
            .col
              .icon.button.button-icon.ion-planet
            .col

          .row
            .col {{getState()}}
          .row.wave-form
            canvas#visualizer.col(width='1200',height='200')
          .row
          .row
            .col.icon.button.button-icon.ion-more
            .col.icon.button.button-icon.ion-speedometer
            .col.icon.button.button-icon.ion-chevron-up
            .col.icon.button.button-icon.ion-stats-bars
            .col.icon.button.button-icon.ion-scissors
          .row
            .col
            .col
            .col.icon.button.button-icon.ion-chevron-left
            .col.icon.button.button-icon.ion-record(ng-class='recording()?"red":""',ng-click='toggleRecording()')
            .col.icon.button.button-icon.ion-chevron-right
            .col
            .col
          .row
            .col.icon.button.button-icon.ion-cube
            .col.icon.button.button-icon.ion-knife
            .col.icon.button.button-icon.ion-chevron-down
            .col.icon.button.button-icon.ion-fork
            .col.icon.button.button-icon.ion-grid          
          .row
            .col .
          .row
            .col.icon.button.button-icon.ion-mic-c(ng-click='toggleRecording()',ng-class='sampling()?"blue":""')
